.header {
	position: fixed;
	width: 100%;
	height: 77px;
	z-index: 10;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 11px;
	}

	.magnetic {
		transition: all 0.4s;
	}

	&__logo {
		span {
			display: block;
			width: 145px;
			text-transform: uppercase;
			color: $text;
			@include medium;

			&:last-child {
				text-align: right;
			}
		}
	}
}

.btn-menu {
	&._active {
		.btn-menu__burger {
			display: none;
		}

		.btn-menu__cross {
			display: block;
		}
	}

	&__cross {
		display: none;
	}
}

.menu {
	position: absolute;
	top: 72px;
	width: 363px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s;
	z-index: -1;

	&._active {
		opacity: 1;
		visibility: visible;
		z-index: 20;
	}

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 24px;
		margin-bottom: 6px;
		padding: 32px 24px;
		box-shadow: 0 4px 20px 0 rgba(191, 218, 228, 0.5);
		background: $white;
		border-radius: 16px;
	}

	&__item {
		width: max-content;

		a {
			@include title;
			color: $text;
			display: block;
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 20px;
		border-radius: 16px;
		@include title;
		color: $white;
		width: 100%;
		padding: 23px;
	}

	&__email {
		margin-bottom: 6px;
		box-shadow: 0 4px 20px 0 rgba(191, 218, 228, 0.5);
		background: $saturated;
	}

	&__modal-btn {
		box-shadow: 0 4px 20px 0 rgba(191, 218, 228, 0.5);
		background: $text;
	}
}

@media (max-width: 1439px) {
	.header {
		.container {
			padding-right: 25px;
			padding-left: 25px;
		}
	}
}

@media (max-width: 767px) {
	.header {
		.container {
			padding-right: 12px;
			padding-left: 12px;
		}
		&__logo {
			span {
				font-size: 13px;
			}
		}
	}
}
