.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	overflow-y: auto;
	max-width: 615px;
	height: max-content;
	max-height: 564px;
	padding: 36px;
	border-radius: 32px;
	background-color: $gray;
	z-index: -1;
	display: none;

	&__close-btn {
		width: 36px;
		height: 36px;
		border-radius: 50%;
		position: absolute;
		top: 22px;
		right: 22px;
	}
	&._is-active {
		z-index: 50;
		display: block;
	}
}
