<div class="modal modal-wave">
	<button type="button" class="modal__close-btn">
		<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g opacity="0.4">
				<rect x="5" y="20.5566" width="22" height="2" rx="1" transform="rotate(-45 5 20.5566)" fill="#00222E" />
				<rect x="6.41431" y="5" width="22" height="2" rx="1" transform="rotate(45 6.41431 5)" fill="#00222E" />
			</g>
		</svg>
	</button>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi maxime modi vero fugit sequi quaerat, porro
	voluptatem delectus doloribus. Commodi, beatae ipsum. Illum pariatur deserunt nam itaque porro libero nulla?
</div>